* { 
    margin: 0; 
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    cursor: url("../public/ellipse.png"), pointer;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }
  